In [3]:
import pandas.io.data as web
import datetime

In [8]:
tickers = ['FB','GLD']
df = web.DataReader(tickers, 'yahoo', datetime.datetime(2010, 1, 1))['Close']

In [9]:
df = df.dropna(thresh=len(tickers),axis=0)

In [10]:
df

                    FB         GLD
Date
2012-05-18   38.230000  154.550003
2012-05-21   34.029999  154.649994
2012-05-22   31.000000  152.080002
2012-05-23   32.000000  151.619995
2012-05-24   33.029999  151.410004
2012-05-25   31.910000  152.679993
2012-05-29   28.840000  151.020004
2012-05-30   28.190001  151.910004
2012-05-31   29.600000  151.619995
2012-06-01   27.719999  157.500000
2012-06-04   26.900000  157.320007
2012-06-05   25.870001  157.139999
2012-06-06   26.809999  157.210007
2012-06-07   26.309999  154.500000
2012-06-08   27.100000  154.729996
2012-06-11   27.010000  155.360001
2012-06-12   27.400000  156.460007
2012-06-13   27.270000  157.119995
2012-06-14   28.290001  157.750000
2012-06-15   30.010000  157.839996
2012-06-18   31.410000  157.929993
2012-06-19   31.910000  157.160004
2012-06-20   31.600000  155.970001
2012-06-21   31.840000  152.020004
2012-06-22   33.049999  152.639999
2012-06-25   32.060001  153.759995
2012-06-26   33.099998  152.619995
2012-06-27   32.230000  152.830002
2012-06-28   31.360001  151.050003
2012-06-29   31.100000  155.190002
...                ...         ...
2016-09-30  128.270004  125.639999
2016-10-03  128.770004  125.320000
2016-10-04  128.190002  120.970001
2016-10-05  128.470001  120.779999
2016-10-06  128.740005  119.660004
2016-10-07  128.990005  119.739998
2016-10-10  130.240005  120.160004
2016-10-11  128.880005  119.550003
2016-10-12  129.050003  119.739998
2016-10-13  127.820000  120.029999
2016-10-14  127.879997  119.360001
2016-10-17  127.540001  119.680000
2016-10-18  128.570007  120.419998
2016-10-19  130.110001  121.110001
2016-10-20  130.000000  120.739998
2016-10-21  132.070007  120.830002
2016-10-24  133.279999  120.559998
2016-10-25  132.289993  121.470001
2016-10-26  131.039993  120.790001
2016-10-27  129.690002  121.010002
2016-10-28  131.289993  121.580002
2016-10-31  130.990005  121.940002
2016-11-01  129.500000  122.730003
2016-11-02  127.169998  123.639999
2016-11-03  120.000000  124.300003
2016-11-04  120.750000  124.389999
2016-11-07  122.150002  122.150002
2016-11-08  124.220001  121.639999
2016-11-09  123.180000  121.559998
2016-11-10  120.800003  119.750000

[1129 rows x 2 columns]